/* Start Tic Tac Toe */
.board {
  /* To center the board horizontal */
  margin: auto;

  /* The space between each row and in `.row` each cell */
  --board-gap: .55rem;
}
.board .row:first-child {
  margin-bottom: var(--board-gap);
}
.board .row:last-child {
  margin-top: var(--board-gap);
}

.row .cell:first-child {
  margin-right: var(--board-gap);
}
.row .cell:last-child {
  margin-left: var(--board-gap);
}

.cell {
  /* Stylize cursor when hovering */
  cursor: pointer;

  /* Size based on the user's default font size */
  font-size: xx-large;

  /* Font color equal to bg-color to hide empty cells content when CSS is
   * enabled. This option is set because of graceful degradation:
   * - If the CSS is disabled, the game is still playable
  */
  color: var(--dark-blue);

  /* Cell size to display a square */
  --cell-size: 100px;
  width: var(--cell-size);
  height: var(--cell-size);
}

/* Cell colored depending on it's owner */
.cell.first {
  background-color: lightblue;
}
.cell.second {
  background-color: lightcoral;
}
.cell:disabled:not(.empty) {
  background-color: var(--dark-blue);
  color: var(--light-color);
}

/* Reset button below the board */
.reset {
  margin-top: 1em;
  padding: .5em 1em;
  font-size: large;
  color: var(--light-color);
  display: block; /* If is not specified then it doesn't centers */
}

/* Border of the cells and the reset button of the same color as the font */
.cell, .reset {
  border: 2px solid var(--light-color);
  border-radius: 5px;
  background-color: var(--dark-blue);
}
/* End Tic Tac Toe */
