:root {
  /* Start default styles */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* End default styles */

  box-sizing: border-box;

  font-size: 20px;

  max-width: 75ch;
  margin: auto;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 20px;
}

/* Start Tic Tac Toe */
.board {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5em;
}

.cell {
  /* Create a square */
  width: 75px;
  height: 75px;

  /* Border of the cell that uses font color as bg color */
  border: 2px solid;
  border-radius: 5px;

  /* Stylize cursor when hovering */
  cursor: pointer;

  /* Center cell content */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End Tic Tac Toe */
